.wrap {
    width: 1128px;
    margin: 100px auto;

    p {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 14px;
        line-height: 1;

        select {
            width: 80px;
            height: 35px;
        }
    }
}

.table {
    width: 100%;
    border-radius: 7px;
    border-collapse: separate;
    outline: 1px solid #E6E6E6;
    margin-top: 8px;

    th {
        color: #fff;
        padding: 13px 24px;
        background: #000;
        font-size: 13px;
        font-weight: bold;
        line-height: 1;

        &:first-of-type {
            border-radius: 7px 0 0 0;
        }

        &:last-of-type {
            border-radius: 0 7px 0 0;
        }
    }

    td {
        font-size: 14px;
        line-height: 1;
        padding: 17px 0;
        text-align: center;
        background: #fff;
    }

  
    tbody {
        tr {
           & ~ tr {
            td {
                border-top: 1px solid #E6E6E6;
            }
           }

           &:nth-of-type(2n) {
                td {
                    background: #F2F2F2;
                }
            }

            &:last-of-type {
                td {
                    &:first-of-type {
                        border-radius: 0 0 0 7px;
                    }
    
                    &:last-of-type {
                        border-radius: 0 0 7px 0;
                    }
                }
            }
        }
    }
}

.aside {
    margin-top: 100px;

    h2 {
        font-size: 24px;
    }

    .asideTable {
        width: 100%;
        margin-top: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 7px;
        border-collapse: separate;

        thead {
            height: 79px;

            th {
                font-size: 13px;
                vertical-align: middle;
                line-height: 1;
                font-weight: bold;
                text-align: center;
                color: #fff;
                background: #000;

                border-right: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
            }

            tr:first-of-type {
                th {
                    &:first-of-type {
                        border-radius: 7px 0 0 0;
                    }

                    &:last-of-type {
                        border-radius: 0 7px 0 0;
                    }
                }
            }
        }

        tbody {
            tr {
                background: #fff;
                
                &:hover {
                    background: yellow;
                }

                & ~ tr {
                    td {
                        border-top: 1px solid #e6e6e6;
                    }
                }

                &:last-of-type {
                    td {
                        &:first-of-type {
                            border-radius: 0 0 0 7px;
                        }

                        &:last-of-type {
                            border-radius: 0 0 7px 0;
                        }
                    }
                }
            }

            td {
                height: 64px;
                vertical-align: middle;
                padding: 0 24px;

                .checkbox {
                    width: 100%;
                    height: 100%;
                    gap: 0;
                    padding: 0 24px;
                    box-sizing: border-box;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .number {
                    padding: 0 15px;
                }

                .number,
                .text {
                    font-size: 14px;
                    line-height: 1;
                }
            }
        }
    }
}
